<!--
    Author: Moya Goleski
    File: _Layout.cshtml
    Last Updated: 01/25/2022
-->
@using contact_diary.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManage

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ContactDiaryWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">-->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">

            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ReConnect</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <!-- navbar -->
                    <ul class="navbar-nav">
                        <!-- link for home -->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <!-- if user signed in-->
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <!-- link for contacts -->
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Contacts" asp-action="Index">Contacts</a>
                            </li>
                            <!-- link for search -->
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Contacts" asp-action="Search">Search</a>
                            </li>
                            <!-- link for logout-->
                            <li class="nav-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="btn btn-outline-primary btn-outline-primary-custom">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <!-- link for login-->
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                            <!-- link for register -->
                            <li class="nav-item">
                                <a class="btn btn-outline-primary btn-outline-primary-custom" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container-fluid fill">
        <!--
        <main role="main" class="pb-3">
        -->
        <main role="main">

            @RenderBody()
        </main>
    </div>

    <!--
    <footer class="border-top footer text-muted">
    -->
    <footer class="footer">

        <div class="container">
            &copy; 2022 - Moya Goleski
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
