@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}
<!--
    Author: Moya Goleski
    File: Login.cshtml
    Last Updated: 01/27/2022
-->
<div class="row d-flex justify-content-center col-12">
    <div class="col-sm-5 align-middle">
        <section>
            <form id="account" method="post">
                <h1>@ViewData["Title"]</h1>
                <hr />
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" placeholder="Email address" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-primary-custom">Login</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
