@{
    ViewData["Title"] = "Home Page";
}
<!--
    Author: Moya Goleski
    File: Index.cshtml
    Last Updated: 01/27/2022
-->
<!-- Container for Home content -->
<div class="row d-flex justify-content-center col-12">
    <div class="col-sm-10 col-md-8 col-lg-6 align-items-center text-center home-container">
        <!--<h1 class="display-4">Welcome</h1>-->
        <h1>Take time to <i>ReConnect</i></h1>
        <p>
            <i>ReConnect</i> is the Mobile Contact Diary, helping you keep track of your contacts.
            Open your account in minutes right from your computer, tablet, or smartphone.
        </p>
        <!-- _LoginPartial.cshtml -->
        <partial name="_LoginPartial" />
    </div>
</div>