/*
    Author: Moya Goleski
    File: site.css
    Last Updated: 01/27/2022
*/

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* custom css changes */
html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    background-color: #C8D8E4;
    padding-bottom: 70px;
}

/* NAV */
.navbar {
    margin-bottom: 2rem;
}
a.navbar-brand {
    color: #2B6777 !important;
    font-style: italic;
    font-weight: 500;
}

a.nav-link {
    color: #52AB98 !important;
}

a.nav-link:hover {
    color: #418979 !important;
}

/* CONTENT CONTAINER */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* FOOTER */
footer {
    padding: 1rem;
    text-align: center;
    background-color: #2B6777;
    color: #F2F2F2;
}

/* HOME */
.home-container {
    margin-top: 5.5rem;
}

/* TEXT*/
h1 {
    color: #2B6777;
    font-weight: 500;
    font-size: 2.5rem;
}

a#login-welcome {
    color: #52AB98;
    font-weight: 500;
    font-size: 1.5rem;
}

/* BUTTON */
.btn-group {
    padding-top: 3%;
}

.btn-primary-custom {
    background-color: #52AB98;
    border-color: #52AB98;
}

.btn-primary-custom:hover {
    background-color: #418979;
    border-color: #418979;
}

.btn-outline-primary-custom {
    color: #52AB98;
    border-color: #52AB98;
}

.btn-outline-primary-custom:hover {
    color: #FFF;
    border-color: #418979;
    background-color: #418979;
}